In [1]:
'''
Data Cleaning and Preparation
Problem Statement: Analyzing Customer Churn in a Telecommunications Company
Dataset: "Telecom_Customer_Churn.csv"
Description: The dataset contains information about customers of a telecommunications
company and whether they have churned (i.e., discontinued their services). The dataset
includes various attributes of the customers, such as their demographics, usage patterns, and
account information. The goal is to perform data cleaning and preparation to gain insights
into the factors that contribute to customer churn.
Tasks to Perform:
1. Import the "Telecom_Customer_Churn.csv" dataset.
2. Explore the dataset to understand its structure and content.
3. Handle missing values in the dataset, deciding on an appropriate strategy.
4. Remove any duplicate records from the dataset.
5. Check for inconsistent data, such as inconsistent formatting or spelling variations,
and standardize it.
6. Convert columns to the correct data types as needed.
7. Identify and handle outliers in the data.
8. Perform feature engineering, creating new features that may be relevant to
predicting customer churn.
9. Normalize or scale the data if necessary.
10. Split the dataset into training and testing sets for further analysis.
11. Export the cleaned dataset for future analysis or modeling.
'''
None

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# 1. Import the "Telecom_Customer_Churn.csv" dataset.
data = pd.read_csv('Telco-Customer-Churn.csv')
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
# 2. Explore the dataset to understand its structure and content.
data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [5]:
data.shape

(7043, 21)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [7]:
# 3. Handle missing values in the dataset, deciding on an appropriate strategy.
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
# 4. Remove any duplicate records from the dataset.
data.duplicated().sum()

0

In [9]:
# 5. Check for inconsistent data, such as inconsistent formatting or spelling variations,
# and standardize it.
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [10]:
# obj = StandardScaler()
# data = data.target
# data = obj.fit_transform(data)
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [11]:
# 6. Convert columns to the correct data types as needed.
# gender_mapping = {'Male': 1, 'Female': 0}
# Partner_mapping = {'Yes': 1, 'No': 0}
# Dependents_mapping = {'Yes': 1, 'No': 0}
# PhoneService_mapping = {'Yes': 1, 'No': 0}
# MultipleLines_mapping = {'No phone service': 1, 'No': 0}
# PhoneService_mapping = {'Yes': 1, 'No': 0}
# MultipleLines_mapping = {'No phone service': 0, 'No': 0,'Yes':1}


# data['gender'] = data['gender'].map(gender_mapping)

In [12]:
data = data.drop(columns=['customerID'])

lb = LabelBinarizer()

# Convert 'Yes'/'No' binary columns using LabelBinarizer
binary_columns = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines',
                  'OnlineSecurity', 'DeviceProtection', 'TechSupport', 
                  'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'Churn','OnlineBackup']

for col in binary_columns:
    data[col] = lb.fit_transform(data[col])

# Encode 'gender' as 1 for 'Female' and 0 for 'Male'
data['gender'] = lb.fit_transform(data['gender'])

# Convert 'InternetService' to numerical values
data['InternetService'] = data['InternetService'].map({'DSL': 1, 'Fiber optic': 2, 'No': 0})

# Convert 'Contract' and 'PaymentMethod' using one-hot encoding
data = pd.get_dummies(data, columns=['Contract', 'PaymentMethod'], drop_first=True)

# Convert 'TotalCharges' to numeric, handle errors due to empty strings
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')

binary_columns_new = ['Contract_One year','Contract_Two year','PaymentMethod_Credit card (automatic)','PaymentMethod_Electronic check','PaymentMethod_Mailed check']

for col in binary_columns_new:
    data[col] = lb.fit_transform(data[col])
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,1,1,0,...,1,1,29.85,29.85,0,0,0,0,1,0
1,1,0,0,0,34,1,1,1,0,1,...,1,0,56.95,1889.50,0,1,0,0,0,1
2,1,0,0,0,2,1,1,1,0,0,...,1,1,53.85,108.15,1,0,0,0,0,1
3,1,0,0,0,45,0,0,1,0,1,...,1,0,42.30,1840.75,0,1,0,0,0,0
4,0,0,0,0,2,1,1,2,1,1,...,1,1,70.70,151.65,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,0,1,0,1,...,0,1,84.80,1990.50,0,1,0,0,0,1
7039,0,0,1,1,72,1,0,2,1,0,...,0,1,103.20,7362.90,0,1,0,1,0,0
7040,0,0,1,1,11,0,0,1,0,1,...,1,1,29.60,346.45,0,0,0,0,1,0
7041,1,1,1,0,4,1,0,2,1,1,...,1,1,74.40,306.60,1,0,0,0,0,1
7042,1,0,0,0,66,1,1,2,0,1,...,0,1,105.65,6844.50,0,0,1,0,0,0

In [13]:
data.dtypes

gender                                     int32
SeniorCitizen                              int64
Partner                                    int32
Dependents                                 int32
tenure                                     int64
PhoneService                               int32
MultipleLines                              int32
InternetService                            int64
OnlineSecurity                             int32
OnlineBackup                               int32
DeviceProtection                           int32
TechSupport                                int32
StreamingTV                                int32
StreamingMovies                            int32
PaperlessBilling                           int32
MonthlyCharges                           float64
TotalCharges                             float64
Churn                                      int32
Contract_One year                          int32
Contract_Two year                          int32
PaymentMethod_Credit card (automatic)      int32
PaymentMethod_Electronic check             int32
PaymentMethod_Mailed check                 int32
dtype: object

In [14]:
# 7. Identify and handle outliers in the data.
numeric_columns = data.columns

for col in numeric_columns:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Filter out rows with outliers
    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
    print(f'Outliers detected in {col}: {len(outliers)}')

Outliers detected in gender: 0
Outliers detected in SeniorCitizen: 1142
Outliers detected in Partner: 0
Outliers detected in Dependents: 0
Outliers detected in tenure: 0
Outliers detected in PhoneService: 682
Outliers detected in MultipleLines: 0
Outliers detected in InternetService: 0
Outliers detected in OnlineSecurity: 0
Outliers detected in OnlineBackup: 0
Outliers detected in DeviceProtection: 0
Outliers detected in TechSupport: 0
Outliers detected in StreamingTV: 0
Outliers detected in StreamingMovies: 0
Outliers detected in PaperlessBilling: 0
Outliers detected in MonthlyCharges: 0
Outliers detected in TotalCharges: 0
Outliers detected in Churn: 0
Outliers detected in Contract_One year: 1473
Outliers detected in Contract_Two year: 1695
Outliers detected in PaymentMethod_Credit card (automatic): 1522
Outliers detected in PaymentMethod_Electronic check: 0
Outliers detected in PaymentMethod_Mailed check: 1612

In [15]:
# handling outliers
for col in numeric_columns:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Remove outliers
    data = data[(data[col] >= lower_bound) & (data[col] <= upper_bound)]
    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
    print(f'Outliers detected in {col}: {len(outliers)}')

Outliers detected in gender: 0
Outliers detected in SeniorCitizen: 0
Outliers detected in Partner: 0
Outliers detected in Dependents: 0
Outliers detected in tenure: 0
Outliers detected in PhoneService: 0
Outliers detected in MultipleLines: 0
Outliers detected in InternetService: 0
Outliers detected in OnlineSecurity: 0
Outliers detected in OnlineBackup: 0
Outliers detected in DeviceProtection: 0
Outliers detected in TechSupport: 0
Outliers detected in StreamingTV: 0
Outliers detected in StreamingMovies: 0
Outliers detected in PaperlessBilling: 0
Outliers detected in MonthlyCharges: 0
Outliers detected in TotalCharges: 0
Outliers detected in Churn: 0
Outliers detected in Contract_One year: 0
Outliers detected in Contract_Two year: 0
Outliers detected in PaymentMethod_Credit card (automatic): 0
Outliers detected in PaymentMethod_Electronic check: 0
Outliers detected in PaymentMethod_Mailed check: 0

In [16]:
# 8. Perform feature engineering, creating new features that may be relevant to
# predicting customer churn.
def tenure_group(tenure):
    if tenure <= 12:
        return '0-1 year'
    elif tenure <= 24:
        return '1-2 years'
    elif tenure <= 48:
        return '2-4 years'
    elif tenure <= 60:
        return '4-5 years'
    else:
        return '5+ years'

data['TenureGroup'] = data['tenure'].apply(tenure_group)
data['ChargesRatio'] = data['TotalCharges'] / (data['MonthlyCharges'] + 1)  # Adding 1 to avoid division by zero
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,MonthlyCharges,TotalCharges,Churn,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,TenureGroup,ChargesRatio
1,1,0,0,0,34,1,1,1,0,1,...,56.95,1889.50,0,1,0,0,0,1,2-4 years,32.605695
6,1,0,0,1,22,1,0,2,1,0,...,89.10,1949.40,0,0,0,1,0,0,1-2 years,21.635960
9,1,0,0,1,62,1,1,1,0,0,...,56.15,3487.95,0,1,0,0,0,0,5+ years,61.031496
10,1,0,1,1,13,1,1,1,0,1,...,49.95,587.45,0,0,0,0,0,1,1-2 years,11.529931
11,1,0,0,0,16,1,1,0,0,0,...,18.95,326.80,0,0,1,1,0,0,1-2 years,16.380952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7035,1,0,0,0,19,1,1,2,1,1,...,78.70,1495.10,0,0,0,0,0,0,1-2 years,18.759097
7037,0,0,0,0,72,1,1,0,0,0,...,21.15,1419.40,0,0,1,0,0,0,5+ years,64.081264
7038,1,0,1,1,24,1,0,1,0,1,...,84.80,1990.50,0,1,0,0,0,1,1-2 years,23.199301
7039,0,0,1,1,72,1,0,2,1,0,...,103.20,7362.90,0,1,0,1,0,0,5+ years,70.661228
7042,1,0,0,0,66,1,1,2,0,1,...,105.65,6844.50,0,0,1,0,0,0,5+ years,64.177215

In [17]:
# 9. Normalize or scale the data if necessary(Not required).

In [18]:
# 10. Split the dataset into training and testing sets for further analysis.
# 11. Export the cleaned dataset for future analysis or modeling.

from sklearn.model_selection import train_test_split

# Define your target variable and features
X = data.drop(columns=['Churn'])  # Features (drop 'Churn' as it’s the target)
y = data['Churn']  # Target variable

# Split the data (80% for training, 20% for testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training set size: {X_train.shape}")
print(f"Testing set size: {X_test.shape}")

Training set size: (2507, 24)
Testing set size: (627, 24)

In [19]:
data.to_csv('cleaned_churn_data.csv', index=False)

# Optionally, export training and testing sets separately
X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)

In [ ]:
# Done